@model List<TaskManagement.Core.ViewModels.TaskManagement.TaskListItemViewModel>
@{
    ViewData["Title"] = "Task Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header {
    @await Html.PartialAsync("_Header")
}

<section class="main">
    @await Html.PartialAsync("~/Views/User/Task/_AddEditTask.cshtml", new TaskManagement.Core.ViewModels.TaskManagement.TaskModel())
    @await Html.PartialAsync("~/Views/User/Task/_TaskHistory.cshtml", new List<TaskManagement.Core.ViewModels.TaskManagement.TaskDetailViewModel>())
    @await Html.PartialAsync("~/Views/User/Task/_ViewTask.cshtml", new TaskManagement.Core.ViewModels.TaskManagement.TaskModel())
    <div class="container">
        <div class="alerts-main">
            <div class="alerts-title">
                <h1>Tasks ( @Model.Count )</h1>
                <div class="alerts-icon">
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="nt-filter" title="Filter" onclick="Common.showFilter(this, '#divFilters')"></i>
                                <div id="divFilters" class="filter-sorting">
                                    <div class="filter-sorting-title">
                                        <p>Filters</p>
                                        <a title="close" class="close" onclick="Common.hideFilter('#divFilters')">
                                            <span class="nt-close-o"></span>
                                        </a>
                                    </div>
                                    <form id="filterForm" class="mt-3">
                                        <div class="row">
                                            <div class="col-lg-12 form-floating">
                                                <input id="txtSearchTerm" name="SearchTerm" type="text" class="form-control" placeholder="">
                                                <label for="txtSearchTerm">Search</label>
                                            </div>
                                            <div class="col-lg-12 form-floating">
                                                <select id="ddlFilterStatus" class="form-control select2">
                                                    <option value="">All Status</option>
                                                    <option value="0">To Do</option>
                                                    <option value="1">In Progress</option>
                                                    <option value="2">Done</option>
                                                </select>
                                                <label for="ddlFilterStatus">Task Status</label>
                                            </div>
                                            <div class="col-lg-12 form-floating">
                                                <select id="ddlFilterPriority" class="form-control select2">
                                                    <option value="">All Priority</option>
                                                    <option value="0">Low</option>
                                                    <option value="1">Medium</option>
                                                    <option value="2">High</option>
                                                </select>
                                                <label for="ddlFilterPriority">Priority</label>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="apply-botttom">
                                        <a class="cancel" onclick="User.resetFilter()">
                                            <span class="nt-refresh"></span>Reset
                                        </a>
                                        <a class="btn-apply" onclick="User.applyFilter()">Apply Filter</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="icon">
                                <i class="nt-sort" title="Sort" onclick="Common.showFilter(this, '#divSorting')"></i>
                                <div id="divSorting" class="filter-sorting">
                                    <div class="filter-sorting-title">
                                        <p>Sort by</p>
                                        <a title="close" class="close" onclick="Common.hideFilter('#divSorting')">
                                            <span class="nt-close-o"></span>
                                        </a>
                                    </div>
                                    <div class="form-tabs">
                                        <ul class="ass-des">
                                            <li class="active" data-order="asc">Ascending</li>
                                            <li data-order="desc">Descending</li>
                                        </ul>
                                        <div class="form-check mb-3">
                                            <input id="rbDueDate" class="form-check-input" type="radio" name="sortColumn" value="DueDate">
                                            <label class="form-check-label" for="rbDueDate">Due Date</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input id="rbCreatedAt" class="form-check-input" type="radio" name="sortColumn" value="CreatedAt">
                                            <label class="form-check-label" for="rbCreatedAt">Created At</label>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input id="rbPriority" class="form-check-input" type="radio" name="sortColumn" value="Priority">
                                            <label class="form-check-label" for="rbPriority">Priority</label>
                                        </div>
                                        <div class="form-check mb-5">
                                            <input id="rbTitle" class="form-check-input" type="radio" name="sortColumn" value="Title">
                                            <label class="form-check-label" for="rbTitle">Title</label>
                                        </div>
                                    </div>
                                    <div class="apply-botttom">
                                        <a class="cancel" onclick="User.resetSort()">
                                            <span class="nt-refresh"></span>Reset
                                        </a>
                                        <a class="btn-apply" onclick="User.applySort()">Apply Sort</a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <a class="btn-invite" onclick="User.openTaskDrawer()">Add Personal Task</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="taskListContainer">
                @await Html.PartialAsync("~/Views/User/Task/_List.cshtml", Model)

            </div>
            <div class="load-more-btn">
                <button id="btnLoadMoreTasks" class="btn-invite">Load More</button>
            </div>
        </div>
    </div>
</section>
